.container{
    display:flex;
    margin: 20px 40px;
    justify-content: space-around;
    align-items: flex-start;
}
.list-wrapper{
    display: flex;
    flex-direction: column;
}
.card{
    border: 1px solid #ececec;
    padding:50px;
    max-width:400px;
    display: flex;
    background-color:#948AA8;
}
.list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding:30px;
    border-radius: 20px;
    background-color: #948AA8;
}
input{
    margin-bottom: 10px;
}